<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>URL de la BD </description>
        <param-name>URLbaseDonnees</param-name>
        <param-value>jdbc:mysql://localhost/liguesoccer?user=root</param-value>
    </context-param>
    <servlet>
        <servlet-name>controleur</servlet-name>
        <servlet-class>com.ma.servlet.ControleurFrontal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.ma.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.ma.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listeEquipe</servlet-name>
        <servlet-class>com.ma.servlet.consulterEquipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>informationPersonnel</servlet-name>
        <servlet-class>com.ma.servlet.informationPersonnel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consulterUneEquipe</servlet-name>
        <servlet-class>com.ma.servlet.consulterUneEquipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creerCompte</servlet-name>
        <servlet-class>com.ma.servlet.creerCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voirAjouterCategorie</servlet-name>
        <servlet-class>com.ma.servlet.voirAjouterCategorie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controleur</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listeEquipe</servlet-name>
        <url-pattern>/ListeEquipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>informationPersonnel</servlet-name>
        <url-pattern>/InformationPersonnel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consulterUneEquipe</servlet-name>
        <url-pattern>/consulterUneEquipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creerCompte</servlet-name>
        <url-pattern>/creerCompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voirAjouterCategorie</servlet-name>
        <url-pattern>/voirAjouterCategorie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
